.wrapper{
    height: 90px;
    background-color: #fff;
    .logo{
        margin-left: 50px;
        img{
            width: auto;
            height: auto;
            max-width: 100%;
            max-height: 100%;
        }
    }
}