.wrapper{
    height: 8vh;
    background-color: #fff;
    .logo{
     float: left;
     margin-left: 50px;
     margin-top: 15px;
    img{
      width: 100%;
      height: 100%;
    }
    }
    .word{
      float: left;
      margin-top: -5px;
    }
}