.wrapper{
  height: 100%;
  background: url('http://wdlj.zoomdong.xin/mobile_bgc.png');
  background-size: cover;
  .header{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    font-weight:bold;
    font-family: "微软雅黑";
    padding-top: 30px;
  }
}
